services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo_pass
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  users:
    build:
      context: ./users
      dockerfile: Dockerfile
    depends_on:
       mongo:
         condition: service_started
       rabbitmq:
         condition: service_healthy
    ports:
      - "3000:3000"
    env_file:
      - ./users/.env
    environment:
      - MONGO_URI=mongodb://mongo:mongo_pass@mongo:27017/usersdb?authSource=admin
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=rabbit
      - RABBITMQ_PASS=rabbit_pass
    volumes:
      - ./users:/server
      - /server/node_modules
    restart: unless-stopped
    command: npm run dev

  mongo-express:
    image: mongo-express:1.0.0
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: mongo
      ME_CONFIG_MONGODB_ADMINPASSWORD: mongo_pass
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_AUTH_DATABASE: admin
      ME_CONFIG_OPTIONS_READONLY: "false"
      ME_CONFIG_BASICAUTH_USERNAME: ''
      ME_CONFIG_BASICAUTH_PASSWORD: ''
    ports:
      - "8081:8081"

  rabbitmq:
    image: rabbitmq:3-management
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_DEFAULT_PASS: rabbit_pass
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  mongo-data:
  rabbitmq-data:
